{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 form-container">
            <h1 class="text-center">{% trans "Set Password" %}</h1>
            
            <form method="post" action="{% url 'account_set_password' %}">
                {% csrf_token %}
                {{ form|crispy }} 
                {{ redirect_field }}
                
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Set Password" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
