{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 form-container">
            <h1>{% trans "Change Password" %}</h1>

            {% url 'account_change_password' as action_url %}
            <form method="post" action="{{ action_url }}" class="password-change-form">
                {% csrf_token %}
                {{ redirect_field }}

                <div class="form-body">
                    {% element fields form=form %}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Change Password" %}
                    </button>

                    <div class="forgot-password-link">
                        <a href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}