{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 form-container">
            <h1 class="text-center">{% trans "Sign Up" %}</h1>
            
            <p class="text-center text-white">
                {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
            </p>

            {% if not SOCIALACCOUNT_ONLY %}
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                    
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "Sign Up" %}
                        </button>
                    </div>
                </form>
            {% endif %}

            {% if PASSKEY_SIGNUP_ENABLED %}
                <hr>
                <div class="text-center mt-3">
                    <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary btn-block">
                        {% trans "Sign up using a passkey" %}
                    </a>
                </div>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                <hr>
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
